<header class="bg-white shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-tools text-primary"></i>
                MultiTools Hub
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="imageToolsDropdown" role="button" data-bs-toggle="dropdown">
                            Image Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/image-to-png.html">Image to PNG</a></li>
                            <li><a class="dropdown-item" href="/tools/image-resizer.html">Image Resizer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="seoToolsDropdown" role="button" data-bs-toggle="dropdown">
                            SEO Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/keyword-density.html">Keyword Density</a></li>
                            <li><a class="dropdown-item" href="/tools/meta-tag-generator.html">Meta Tag Generator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="calculatorsDropdown" role="button" data-bs-toggle="dropdown">
                            Calculators
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/scientific-calculator.html">Scientific Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/percentage-calculator.html">Percentage Calculator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="devToolsDropdown" role="button" data-bs-toggle="dropdown">
                            Developer Tools
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tools/json-formatter.html">JSON Formatter</a></li>
                            <li><a class="dropdown-item" href="/tools/base64-encoder.html">Base64 Encoder</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header> 